/android/
.godot/

.vscode/
assets/questions/
assets/question_pictures/
assets/categories/

assets/COMIC.TTF
assets/COMIC.TTF.import
assets/avatars

*.tmp
assets/*.import
assets/*.png
assets/*.jpg
assets/*.ttf
assets/*.otf
assets/*.ase
assets/*.aseprite
